*{
    margin: 0;
    padding: 0;
}
.centerised{
    text-align: center;
}
.primary-color{
    color: crimson;
}
.btn-primary{
    padding: 15px 30px;
}
.headeroption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(171, 182, 187);
    padding: 25px 0;
}
.title{
    color: aqua;
    font-size: 19px;
}
.logo{
    display: flex;
}
.menus > ul {
    display: flex;
    align-items: center;
}
.menus li{
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    font-size: 19px;
}

/* end of the navigation part */

.banner{
    height: 100vh;
    background-image: url(../asset/image/background.jpg),linear-gradient(rgb(119, 116, 116),rgb(87, 88, 87));
    background-blend-mode: overlay;
    
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-banner{
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    
}
.description{
    width: 50%;
    font-size: 22px;
    color: white;
    margin: auto;
    padding: 5px;

}
.color{
    background-color:crimson;
    margin-right: 20px;
    color: white;
    font-weight: 500;
}
.main-content-banner h1{
    font-size: 86px;
    font-weight: 900;
    text-align: center;
    
}
.button_div{
    width: 50%;
    margin: auto;
    text-align: center;
}
.parent{
    gap: 20px;
}

/* start main section */
.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-image: url('../asset/image/footer-bg.png'),linear-gradient(rgb(43, 41, 41),rgb(10, 8, 8));
    background-blend-mode: overlay;
    height: 100vh;
    width: 100%;
    padding: 50px;

}
.image{
    width: 100px;
    height: 100px;
}
.learning{
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px;
   
    
}
.two-div{
    display: flex;
    margin: 10px;
}
.singleservice{
    box-shadow: 4px 4px 4px gray;
    margin: 15px;
    padding: 25px;
    text-align: center;
    background-color: white;
    height: 300px;
    width: 300px;
}
.singleservice > img{
    margin-bottom: 50px;
}
.list{
    padding: 10px 20px;
    border-radius: 20px;
}
.text{
    width: 50%;
    font-size: 22px;
    color: white;
}
.text h3{
    font-size: 70px; 
}
.datails{
    display: flex;
    align-items: center;   
    
}
.information{
    display: flex;
    align-items: center;
    border-right: 1px solid red;
    padding: 20px;
}
.information img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    padding-right: 20px;
}
.rightside{
    margin-left: 20px;
}
small{
    font-size: 12px;
}
.contact-section{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(209, 29, 29);
    color: white;
    display: flex;
    border-radius: 10px;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    padding-right: 15px;
    border-right: 1px solid rgb(71, 66, 66);
    width: 40%;
}
.phone-number{
    font-size: 50px;
}
.contact-description{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-details{
    width: 70%;
}